@model Irufushi.WebUI.Models.UserModel

<table>
    <tr>
        <th>@Html.DisplayName("id")</th>
        <th>@Html.DisplayName("email")</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
        <td>@item.UserId</td>
        <td>@Html.ActionLink(item.UserName, "ShowUser", "Admin",
            new { id = item.UserId }, null)</td>
            </tr>
    }
</table>