@model Irufushi.WebUI.Models.UserModel

<table>
    <tr>
        <th>@Html.DisplayName("id")</th>
        <th>@Html.DisplayName("email")</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
        <td>@item.UserId</td>
        <td>@item.UserName</td>
            </tr>
    }
    @*@Html.ActionLink("Add to friends", "AddFriend", "User",
            new { id = item.UserId }, null)*@
</table>