@model Irufushi.WebUI.Models.RegisterModel

@{
    ViewBag.Title = "Irufushi | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pad">
        <div class="col-md-6 col-md-offset-3">
            
        </div>
    </div>
</div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../Scripts/js/ie10-viewport-bug-workaround.js"></script>



