@model Irufushi.WebUI.Models.MessageModel

<fieldset class="form-horizontal margin-login col-sm-offset-3 col-sm-10" id="UserInputs">
    @foreach (var item in Model.Dialogs)
    {

        <div class="form-group form-inline">
            @Html.ActionLink((item.FirstName + " " + item.LastName).ToString(),
         "ShowMessages", "User", new { id = item.Id }, null)
        </div>

    }
</fieldset>