@model Irufushi.WebUI.Models.MessageModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h2>Messages</h2>
            <hr />
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-3" id="messages">
    @using (Ajax.BeginForm("ShowMessages", "User", null, new AjaxOptions { OnSuccess = "onSuccess", 
        UpdateTargetId = "messages" }, FormMethod.Post))
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-4 col-md-offset-4">
                    @Html.TextBoxFor(m => m.NewMessage.Content)
                </div>
            </div>
        </div>
        <br />
        <div class="row ">
            <div class="form-horizontal">
                <div class="col-sm-offset-5 col-sm-2">
                    <input type="submit" class="btn btn-primary" id="SubmitBtn" value="Send" />
                </div>
            </div>
        </div>
        <br />

        foreach (var item in Model.Messages)
        {
            <p>
                <div class="row">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-9">
                                @item.Sender.AboutUser.FirstName :
                                @item.Content
                            </div>
                            <div class="col-md-3">
                                @item.SendDateTime
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        }
    }
</div>