@model Irufushi.WebUI.Models.UserModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h2>People</h2>
            <hr />
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-3" id="users">
    @foreach (var item in Model.Users)
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-8">
                    @Html.ActionLink(item.AboutUser.FirstName + " " + item.AboutUser.LastName,
        "Index", "User", new { id = item.UserId }, null)
                </div>
            </div>
        </div>
        <br />
    }
</div>