@model Irufushi.WebUI.Models.MessageModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h2>Dialogs</h2>
            <hr />
        </div>
    </div>
</div>

<div class="col-md-6 col-md-offset-3">
    @foreach (var item in Model.Dialogs)
    {
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-8">
                    @Html.ActionLink(item.FirstName + " " + item.LastName,
        "ShowMessages", "User", new { id = item.UserId }, null)
                </div>
            </div>
        </div>
        <br />
    }
</div>